{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 2 versions", "ie >= 10"]
                }
            }
        ]
    ],
    "plugins": ["transform-object-rest-spread"],
    "comments": false
}
