*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 1rem;
}

p {
    margin: 0;
}

code {
    background-color: #f9f2f4;
    border-radius: 0.25rem;
    color: #c7254e;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: 90%;
    padding: 0.125rem 0.25rem;
}
