$disable-user-select {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

$truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

$font-smoothing {
    -webkit-font-smoothing: antialiased;
}

$md-text-display-4 {
    font-size: 112px;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: -0.01em;
}

$md-text-display-3 {
    font-size: 56px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: -0.005em;
}

$md-text-display-2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 1.066em;
}

$md-text-display-1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.176em;
}

$md-text-headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33em;
}

$md-text-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.005em;
}

$md-text-subhead {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75em;
    letter-spacing: 0.01em;
}

$md-text-body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71em;
    letter-spacing: 0.01em;
}

$md-text-caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.02em;
}

$md-text-menu {
    font-size: 14px;
    font-weight: 600;
    line-height: 1em;
}

$md-text-button {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.71em;
    letter-spacing: 0.02em;
}
