@import 'md-colors';

$font-stack = Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
	"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$md-brand-primary = $md-blue;
$md-brand-accent = $md-purple-a400;
$md-brand-primary-lighter = $md-blue-400;

$md-dark-text = alpha(black, 0.87);
$md-dark-secondary = alpha(black, 0.54);
$md-dark-hint = alpha(black, 0.38);
$md-dark-disabled = $md-dark-hint;
$md-dark-divider = alpha(black, 0.12);

$md-light-text = white;
$md-light-secondary = alpha(white, 0.70);
$md-light-hint = alpha(white, 0.30);
$md-light-disabled = $md-light-hint;
$md-light-divider = alpha(white, 0.12);

/**
 * Input fields
 */
$input-label-color = $md-dark-secondary;
$input-label-color-hover = alpha($md-dark-secondary, 0.65);
$input-label-color-active = $md-brand-primary;
$input-label-color-invalid = $md-red;

$input-color = lighten($md-dark-text, 10%);
$input-color-disabled = $md-dark-disabled;
$input-color-invalid = $md-red;

$input-border-color = $md-dark-divider;
$input-border-color-hover = alpha($md-dark-divider, 0.22);
$input-border-color-active = $md-brand-primary;
$input-border-color-invalid = $md-red;

$input-clear-button-color = $md-dark-hint;
$input-clear-button-color-hover = $md-dark-secondary;

$input-help-color = $md-dark-hint;
$input-error-color = $md-red;

/**
 * Z-index
 */
$z-index-level-1 = 20;
$z-index-level-2 = 30;
$z-index-level-3 = 40;
$z-index-level-4 = 50;
$z-index-level-5 = 60;
$z-index-level-6 = 70;

$z-index-toolbar = $z-index-level-1;
$z-index-fab = $z-index-level-2;
$z-index-nav-drawer = $z-index-level-3;
$z-index-modal = $z-index-level-4;
$z-index-dropdown = $z-index-level-5;
$z-index-tooltip = $z-index-level-6;
