@import '../../src/styles/imports';

@import '_tables';
@import '_code';
@import '_helpers';

* {
    box-sizing: border-box;
    font-family: inherit;
}

html,
body,
#app {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    @extends $md-text-body;
    font-size: 15px;
    line-height: 1.85em;
}

.sidebar-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: $z-index-nav-drawer - 1;
    background-color: alpha(black, 0.4);
}

.sidebar-overlay-transition {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.sidebar-overlay-enter,
.sidebar-overlay-leave {
    opacity: 0;
}

.sidebar {
    width: 272px;
    height: 100vh;
    flex-shrink: 0;
    overflow-y: auto;
    position: fixed;

    background-color: white;
    box-shadow: 0 0 3px alpha(black, 0.35), 0 2px 2px alpha(black, 0.2);
    z-index: 5;

    &.mobile {
        z-index: $z-index-nav-drawer;
    }

    .brand {
        height: 64px;
        padding: 0 16px;
        color: $md-dark-text;
        border-bottom: 1px solid #EEE;
        display: flex;
        align-items: center;

        .title {
            font-size: 28px;
            font-weight: normal;
            margin: 0;
        }
    }

    .subhead {
        padding: 16px;
        font-size: 14px;
        padding-top: 12px;
        line-height: 1.71em;
        color: alpha(black, 0.75);
        border-bottom: 1px solid #EEE;

        .ui-button {
            margin-top: 16px;
        }
    }

    .menu {
        margin: 0;
        padding: 0;
        padding-bottom: 16px;

        .menu-header {
            padding: 12px 16px;
            font-weight: 500;
            font-size: 16px;
        }

        .menu-item {
            display: block;
            padding: 8px 16px;
            padding-left: 40px;
            color: $md-dark-text;
            cursor: pointer;
            text-decoration: none;

            &:focus,
            &:hover {
                background-color: $md-grey-200;
            }

            &.active {
                background-color: $md-grey-100;
                color: $md-brand-primary;
                font-weight: 500;
            }
        }
    }
}

.sidebar-toggle-transition {
    transition: left 0.3s ease;
    left: 0;
}

.sidebar-toggle-enter,
.sidebar-toggle-leave {
    left: -272px;
}

.page {
    flex-grow: 1;
    display: flex;
    margin-left: 272px;
}

.container {
    width: 100%;
    max-width: 960px;
    padding-left: 56px;
    padding-right: 56px;
}

.section {
    margin-bottom: 40px;
}

.section-heading {
    @extends $md-text-display-1;
    border-bottom: 1px solid $md-dark-divider;
    padding-bottom: 8px;
}

h3 {
    @extends $md-text-headline;
    font-weight: normal;
    margin-top: 32px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: $md-blue;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.table {
    margin-bottom: 0;

    th {
        min-width: 100px;
    }

    td {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#app {
    display: flex;

    .page-toolbar {
        z-index: $z-index-toolbar;
        height: 64px;
        display: none;
        background-color: white;
    }

    @media screen and (max-width: 720px) {
        .page-toolbar {
            display: flex;
            position: fixed;
            width: 100vw;
        }

        .sidebar.desktop {
            display: none;
        }

        .page,
        .container {
            width: 100vw;
            max-width: 100vw;
            margin: 0;
        }

        .container {
            padding: 64px 18px 0 18px;
        }
    }
}
