@import '../../src/styles/imports';

@import 'code';
@import 'prism.css'; // from node_modules

@import 'tables';
@import 'helpers';

* {
    box-sizing: border-box;
    font-family: inherit;
}

html,
body,
#app {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    @extends $md-text-body;
    font-size: 15px;
    line-height: 1.85em;
}

.sidebar-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: $z-index-nav-drawer - 1;
    background-color: alpha(black, 0.4);
}

.sidebar-overlay-transition {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.sidebar-overlay-enter,
.sidebar-overlay-leave {
    opacity: 0;
}

.sidebar {
    width: 272px;
    height: 100vh;
    flex-shrink: 0;
    overflow-y: auto;
    position: fixed;

    background-color: white;
    box-shadow: 0 0 3px alpha(black, 0.35), 0 2px 2px alpha(black, 0.2);
    z-index: 5;

    &.mobile {
        z-index: $z-index-nav-drawer;
    }

    .brand {
        height: 64px;
        padding: 0 16px;
        color: $md-dark-text;
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: 0 0 2px alpha(black, 0.12),0 2px 2px alpha(black, 0.2);

        .title {
            margin: 0;
            font-size: 24px;
            font-weight: normal;
            position: relative;
        }

        .version {
            top: -4px;
            position: absolute;
            margin-left: 8px;
            font-size: 0.5em;
            display: inline-block;
        }

        .github-icon {
            position: absolute;
            right: 16px;
            top: 20px;
            width: 24px;
            height: 24px;
            opacity: 0.4;

            &:hover,
            &:focus {
                opacity: 1;
            }

            img {
                max-width: 100%;
            }
        }
    }

    .menu {
        margin: 0;
        padding: 0;
        padding-bottom: 4px;

        .menu-header {
            padding: 8px 16px;
            font-weight: 500;
            font-size: 16px;
        }

        .menu-item,
        .sub-menu-item {
            display: block;
            padding: 8px 16px;
            color: $md-dark-text;
            cursor: pointer;
            text-decoration: none;

            &:focus,
            &:hover {
                background-color: $md-grey-300;
            }

            &.active {
                background-color: $md-grey-200;
                color: $md-blue-700;
                font-weight: 500;
            }
        }

        .sub-menu-item {
            padding-left: 40px;
        }
    }

    .footer-attribution {
        border-top: 1px solid #EEE;
        padding: 8px 16px;
        margin: 0;
        font-size: 14px;
    }
}

.sidebar-toggle-transition {
    transition: left 0.3s ease;
    left: 0;
}

.sidebar-toggle-enter,
.sidebar-toggle-leave {
    left: -272px;
}

.page {
    flex-grow: 1;
    display: flex;
    margin-left: 272px;
}

.container {
    width: 100%;
    max-width: 960px;
    padding-left: 56px;
    padding-right: 56px;
}

.section {
    margin-bottom: 40px;
}

.section-heading {
    @extends $md-text-display-1;
    border-bottom: 1px solid $md-dark-divider;
    padding-bottom: 16px;
    margin-bottom: 40px;
    display: flex;

    a {
        margin-left: auto;
    }
}

h3 {
    @extends $md-text-headline;
    font-weight: normal;
    margin-top: 32px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: $md-blue-700;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.table {
    margin-bottom: 0;

    th {
        min-width: 100px;
    }

    td {
        padding-top: 10px;
        padding-bottom: 10px;

        &.new-prop::after {
            content: 'New';
            display: inline-block;
            background-color: $md-brand-primary;
            color: white;
            font-size: 10px;
            padding: 2px 4px;
            border-radius: 2px;
            margin-left: 8px;
        }

        &.changed-prop::after {
            content: 'Changed';
            display: inline-block;
            background-color: $md-pink;
            color: white;
            font-size: 10px;
            padding: 2px 4px;
            border-radius: 2px;
            margin-left: 8px;
        }
    }

    p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#app {
    display: flex;

    .page-toolbar {
        z-index: $z-index-toolbar;
        height: 64px;
        display: none;
        background-color: white;
    }

    @media screen and (max-width: 720px) {
        .page-toolbar {
            display: flex;
            position: fixed;
            width: 100vw;
        }

        .sidebar.desktop {
            display: none;
        }

        .page,
        .container {
            width: 100vw;
            max-width: 100vw;
            margin: 0;
        }

        .container {
            padding: 64px 18px 0 18px;
        }
    }
}

.view-source-link {
    font-size: 0.6em;
    display: inline-block;
    margin-left: 8px;

    .section-heading & {
        font-size: 0.45em;
    }
}

a.ui-button {
    text-decoration: none;
}

.warning {
    background-color: $md-red-50;
    padding: 12px 16px;
    border-radius: 2px;
}
