code:not([class]) {
    padding: rem-calc(2px 4px);
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: rem-calc(4px);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

kbd {
    padding: rem-calc(2px 4px);
    font-size: 90%;
    color: #ffffff;
    background-color: #333333;
    border-radius: rem-calc(3px);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
}

pre.is-compact {
    font-size: rem-calc(14px);
    padding: rem-calc(8px 12px);
}
