.keen-docs-content {
    width: 100%;
    padding-left: rem($sidebar-width);

    @media screen and (max-width: $mobile-breakpoint) {
        padding-left: 0;
    }
}

.page {
    margin: 0 auto;
    max-width: rem(1092px);
    padding-top: rem(48px + 60px);
    padding-bottom: rem(32px);
    padding-left: rem(32px);
    padding-right: rem(32px);
    line-height: 1.6;

    @media screen and (max-width: $mobile-breakpoint) {
        padding-top: rem(96px);
    }

    & > p:first-child,
    & > h1:first-child,
    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child {
        margin-top: 0;
    }

    .page__section-title {
        margin-top: rem(32px);
        font-weight: normal;
        font-size: rem(24px);
        line-height: 1.33em;

        a {
            font-size: 0.6em;
            padding-left: rem(4px);
        }
    }

    .page__demo-title {
        font-size: rem(18px);
    }

    .table {
        margin-bottom: 0;
    }
}

.page__title {
    font-size: rem(34px);
    font-weight: normal;
    line-height: 1.176em;
}

td,
th {
    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

tbody td:first-child {
    min-width: rem(88px);
}

.keen-docs__custom-popover-content {
    padding: rem(16px);
    max-width: rem(400px);

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
