@import '../src/styles/imports';

$link-color: $md-blue-700;
$toolbar-color: $md-teal;
$mobile-sidebar-z-index: 10;
$mobile-breakpoint: 720px;

@import 'code';
@import '~prismjs/themes/prism.css';
@import 'tables';
@import 'helpers';
@import 'globals';
@import 'sidebar';
@import 'content';
