.keen-docs-mobile-sidebar__backdrop {
    background-color: rgba(black, 0.2);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-index-nav-drawer - 1;
}

.keen-docs-sidebar {
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(black, 0.16), 0 2px 10px 0 rgba(black, 0.12);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    width: rem-calc(296px);
    z-index: 1;

    &.is-mobile {
        max-width: rem-calc(280px);
        z-index: $z-index-nav-drawer;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.keen-docs-sidebar__scrollable {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.keen-docs-sidebar__header {
    background-color: $toolbar-color;
    color: white;
    font-size: 1.5rem;
    height: rem-calc(62px);
    padding: rem-calc(16px);
}

.keen-docs-sidebar__header-version {
    color: white;
    display: inline-block;
    font-size: 0.9rem;
    opacity: 0.7;
    vertical-align: super;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.keen-docs-sidebar__header-github-link {
    color: white;
    float: right;
    line-height: 1;
    opacity: 0.8;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.keen-docs-sidebar__description {
    color: rgba(black, 0.54);
    padding: rem-calc(16px);

    p {
        margin: 0;

        & + p {
            margin-top: rem-calc(12px);
        }
    }
}

.keen-docs-sidebar__version-select {
    padding: rem-calc(16px);
    padding-top: rem-calc(8px);

    .ui-select {
        margin: 0;
    }

    .ui-select-option {
        min-height: rem-calc(40px);
    }
}

.keen-docs-sidebar__menu,
.keen-docs-sidebar__menu-section-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.keen-docs-sidebar__menu-section-header {
    color: rgba(black, 0.7);
    font-size: 1.1em;
    font-weight: bold;
    padding: rem-calc(16px);
}

.keen-docs-sidebar__menu-item {
    align-items: center;
    color: rgba(black, 0.87);
    display: flex;
    padding: rem-calc(12px);
    padding-left: rem-calc(40px);

    &.is-active {
        color: $link-color;
        font-weight: 500;
        background-color: rgba(black, 0.05);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: rgba(black, 0.05);
    }

    .ui-icon {
        font-size: rem-calc(18px);
        margin-left: rem-calc(12px);
        color: #868686;
    }
}

.transition-fade-enter-active,
.transition-fade-leave-active {
    transition: opacity 0.2s ease-out;
}

.transition-fade-enter,
.transition-fade-leave-active {
    opacity: 0;
}

.transition-slide-enter-active,
.transition-slide-leave-active {
    transition: transform 0.2s ease-out;
}


.transition-slide-enter,
.transition-slide-leave-active {
    transform: translateX(-280px);
}

@media screen and (max-width: $mobile-breakpoint) {
    .keen-docs-sidebar.is-desktop {
        display: none;
    }
}
