@mixin enter-transform($placement, $animation) {
    @if ($animation == 'fade') {
        @if ($placement == 'top') {
            transform: translateY(-10px);
        } @else if ($placement == 'bottom') {
            transform: translateY(10px);
        } @else if ($placement == 'left') {
            transform: translateX(-10px);
        } @else if ($placement == 'right') {
            transform: translateX(10px);
        }
    }
}

@mixin leave-transform($placement, $animation) {
    @if ($animation == 'shift-away') {
        @if ($placement == 'top') {
            transform: translateY(0);
        } @else if ($placement == 'bottom') {
            transform: translateY(0);
        } @else if ($placement == 'left') {
            transform: translateX(0);
        } @else if ($placement == 'right') {
            transform: translateX(0);
        }
    }
}

@mixin backdrop-transform-enter($placement) {
    $scale: 6;
    @if ($placement == 'top') {
        transform: scale($scale) translate(-50%, 25%);
    } @else if ($placement == 'bottom') {
        transform: scale($scale) translate(-50%, -125%);
    } @else if ($placement == 'left') {
        transform: scale($scale) translate(40%, -50%);
    } @else if ($placement == 'right') {
        transform: scale($scale) translate(-140%, -50%);
    }
}

@mixin backdrop-transform-leave($placement) {
    @if ($placement == 'top') {
        transform: scale(1) translate(-50%, 25%);
    } @else if ($placement == 'bottom') {
        transform: scale(1) translate(-50%, -125%);
    } @else if ($placement == 'left') {
        transform: scale(1.5) translate(40%, -50%);
    } @else if ($placement == 'right') {
        transform: scale(1.5) translate(-140%, -50%);
    }
}
